### Template

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None

In [4]:
# Read and format data
path = 'data/combined_data.csv' #change path

df_all = pd.read_csv(path)
df_all.date_time_current = pd.to_datetime(df_all.date_time_current, format = "%Y-%m-%d %H:%M:%S")
df_all.date_time_future = pd.to_datetime(df_all.date_time_future, format = "%Y-%m-%d %H:%M:%S")
df_all.date_time_current_rounded = pd.to_datetime(df_all.date_time_current_rounded, format = "%Y-%m-%d %H:%M:%S")

df_all["forecast_interval"] = df_all.date_time_future - df_all.date_time_current_rounded
df_all["forecast_error"] = df_all.total_demand - df_all.forecast_demand

,id,period_id,forecast_demand,date_time_current,date_time_future,date_time_current_rounded,total_demand,temperature_future,temperature_current,forecast_interval
4577277,2014092648,22,6736.28,2014-09-27 03:30:54,2014-09-27 14:30:00,2014-09-27 03:30:00,6751.18,18.7,13.8,0 days 11:00:00
6038861,2016032947,15,8500.59,2016-03-30 03:01:15,2016-03-30 10:30:00,2016-03-30 03:00:00,8393.22,24.6,18.8,0 days 07:30:00
747283,2010101710,27,7728.24,2010-10-17 08:30:51,2010-10-17 22:00:00,2010-10-17 08:30:00,7788.09,14.1,15.0,0 days 13:30:00
9217919,2019071145,50,7017.72,2019-07-12 02:01:25,2019-07-13 03:00:00,2019-07-12 02:00:00,6877.00,15.2,8.3,1 days 01:00:00
2233916,2012042923,16,7831.51,2012-04-29 15:01:24,2012-04-29 23:00:00,2012-04-29 15:00:00,7773.63,10.7,18.1,0 days 08:00:00

In [10]:
# Tip: use pandas' in-built dateTime to manipulate/extract date variable (example below)
df_all.date_time_current.dt.date

0           2010-01-01
1           2010-01-01
2           2010-01-01
3           2010-01-01
4           2010-01-01
               ...
10853882    2021-03-17
10853883    2021-03-17
10853884    2021-03-17
10853885    2021-03-17
10853886    2021-03-17
Name: date_time_current, Length: 10853887, dtype: object